.card-container{
    width: 250px;
    height: auto;
    background-color: #d84a4a;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
}
.card-container-btn{
    display: flex;
    justify-content: space-between;

}
.card-container-btn button{
    width: 80px;
    /* padding: 0.5rem 1.5rem; */
}